*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
	background-color: green;
	font-family: "Press Start 2P";
	height: 80vh;
}

header {
	display: flex;
	margin: 2rem;
	justify-content: center;
	color: white;
}

.score {
	display: flex;
	justify-content: center;
	color: white;
	margin-top: 5rem;
}

.results,
.battle,
.choices {
	color: white;
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin: 2rem;
	font-size: 2em;
}

.battle,
.choices {
	height: 2rem;
	font-size: 1.5rem;
}

.buttons {
	display: flex;
	margin-top: 4rem;
	justify-content: space-evenly;
	align-items: center;
}

.buttons > button {
	padding: 1rem 3rem;
	font-size: 4rem;
	border: none;
	background: none;
}

.buttons > button:hover {
	text-shadow: 3px 3px white;
}